body {
    background-image: url('./colorful.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#nav {
    z-index: 100;
}

.navbar-logo {
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.navbar-logo {
    transition: transform 0.3s ease; 
}

.hover-zoom-logo:hover {
    transform: scale(1.5); 
}

.hover-zoom:hover {
    transform: scale(1.1); 
}

.edit-profile {
    transition: transform 0.3s ease;
}

.catch-pokemon {
    transition: transform 0.3s ease;
}

.poke-dex {
    transition: transform 0.3s ease;
}

.logout {
    transition: transform 0.3s ease;
}

.battle {
    transition: transform 0.3s ease;
}

#forms {
    background-color: white;
    box-shadow: 0px 10px 50px blue;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 65%; 
    min-height: 100vh; 
    z-index: 1;
    border: 1px solid black;
    box-shadow: 0px 10px 100px yellow;
}

.centered-content {
    text-align: center;
    margin-top: 80px;
}

/* .pika-img {
    max-width: 50%; 
    max-height: 50%; 
    display: block; 
    margin: 0 auto;
} */

.image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 90px 0; 
}

.image-row img {
    max-width: calc(33.33% - 10px); 
    margin: 5px; 
}

#pokedex-card {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0a6cff;
}

#pokedex-body {
    border: 3px solid black;
    border-radius: 10px;
}

.empty-pokedex {
    display: flex;
    flex-direction: column;
    justify-content: top; 
    align-items: flex-start; 
    height: 100vh;
    background-image: url('./empty-pokedex.jpg');
    color: white;
    padding-left: 100px;
    padding-top: 100px;
}

#cp-card {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0a6cff;
}

#cp-body {
    border: 3px solid black;
    border-radius: 10px;
}