body {
    background-image: url('./colorful.jpg')
}

#nav {
    z-index: 100;
}

#forms {
    background-color: white; 
}

.content-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%; 
    min-height: 100vh; 
    z-index: 1;
}

.centered-content {
    text-align: center;
    margin-top: 80px;
}