{% extends 'base.html' %}

{% block content %}
<div class="top-battle-page">
    <h1 style="color: red;">Battle!</h1>
    <h3 style="color: white;">Challenge other users if you think you can win!</h3>
</div>

<div class="content-container-battle" style="z-index: -1;">
{% for user, pokemons in user_pokemons.items() %}       
<div class="card" style="width: 100%;">
    <div class="card-body card-glow">
        <h5 class="card-title"><strong>{{ user.first_name }} {{ user.last_name }}</strong></h5>
        {% for pokemon in pokemons %}
        <p class="card-text">
            <li id="battle-list-items" style="border: 1px solid white;">
                <img src="{{ pokemon.image }}">
                <strong style="color: #2e7df4;">Pokémon:</strong> {{ pokemon.pokemon_name.title() }}
                <strong style="color: #f42e4f;">Base Attack:</strong> <b>???</b>
                <strong style="color: #9c66f8;">Base Defense:</strong> <b>???</b>
                <strong style="color: #4ef55c;">Base HP:</strong> <b>???</b>
            </li>
        </p>
        {% endfor %}
        <form action="/battleresult">
            <button type="button" class="btn btn-danger btn-lg" value="{{ user.id }}">CHALLENGE</button>
        </form>
        
    </div>
</div>

{% endfor %}
</div> 
{% endblock %}