{% extends 'base.html' %}

{% block content %}
    {% if rand_pokemon_info %}
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center">
            <div id="cp-card" class="card" style="width: 27rem;">
                <h4 class="card-title pt-3"><b>{{ rand_pokemon_info['name'].title() }}</b></h4>
                <img style="border: 3px solid black; border-radius: 10px; background-image: url('../static/card-bg.jpg');" class="card-img-top mb-2" src="{{ rand_pokemon_info['image'] }}" alt="{{ rand_pokemon_info['name'].title() }} Image">
                <ul id="cp-body" class="list-group list-group-flush">
                    <li style = "background-color: #f42e4f;" class="list-group-item"><b>Base Attack:</b> {{ rand_pokemon_info['base_attack'] }}</li>
                    <li style = "background-color: #9c66f8;" class="list-group-item"><b>Base Defense:</b> {{ rand_pokemon_info['base_defense'] }}</li>
                    <li style = "background-color: #4ef55c;" class="list-group-item"><b>Base HP:</b> {{ rand_pokemon_info['base_hp_stat'] }}</li>
                </ul>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        
                        <div class="d-grid gap-2 my-3">
                            <button type="submit" class="btn btn-warning border border-2 border-dark" formaction="/catchpokemons" name="find_pokemon">Find Another Pokemon</button>
                            <button type="submit" class="btn btn-success border border-2 border-dark" formaction="/catchpokemons" name="catch_pokemon">Catch</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}