{% extends 'base.html' %}

{% block content %}

<div id="forms" class="container col-4 border mt-5 border border-2 border-dark">
    <h1 style="text-align: center;">Login</h1>
    <form method="POST">
        
        {{ form.hidden_tag() }}

        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control', placeholder='Enter email...') }}

        {{ form.password.label(class='form-label') }}
        {{ form.password(class='form-control', placeholder='Enter password...') }}

        <div class="d-grid gap-2 my-3">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>

{% endblock %}