<nav id="nav" class="navbar navbar-expand-lg bg-body-tertiar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 fw-bold" href="/" style="color: white;" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='white';"><img src="../static/logo2.png" alt="Logo" class="navbar-logo hover-zoom-logo">PokeFlask</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled text-white" aria-disabled="true">Hello, {{ current_user.first_name.title() }}</a>
          </li>
          <li class="nav-item">
            <a style="color: white;"class="nav-link active edit-profile hover-zoom" aria-current="page" href="/editprofile" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='white';">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a style="color: red;"class="nav-link active catch-pokemon hover-zoom" aria-current="page" href="/catchpokemons" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='red';">Catch Pokemons</a>
          </li>
          <li class="nav-item">
            <a style="color: red;"class="nav-link active edit-profile hover-zoom" aria-current="page" href="/pokemoninfo" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='red';">PokeInfo</a>
          </li>
          <li class="nav-item">
            <a style="color: red;"class="nav-link active poke-dex hover-zoom" aria-current="page" href="/pokedex" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='red';">Pokedex</a>
          </li>
          <li class="nav-item">
            <a style="color: red;"class="nav-link active battle hover-zoom" aria-current="page" href="/battle" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='red';">Battle!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logout hover-zoom" href="/logout" style="color:white;" onmouseover="this.style.color='#00ff3c';" onmouseout="this.style.color='white';">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/iiamdawiid" target="_blank" style="color: white;" onmouseover="this.style.color='#09de1a';" onmouseout="this.style.color='white';">GitHub</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="/" style="color: white;" onmouseover="this.style.color='#09de1a';" onmouseout="this.style.color='white';">
              Get Started
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
              <li><a class="dropdown-item" href="/login">Log In</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        {% endif %}

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>