{% extends 'base.html' %}

{% block content %}
<div id="forms" class="container col-4 border border border-2 border-dark rounded">
    <h1>Get Pokemon Info</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.poke_name.label(class='form-label') }}
        {{ form.poke_name(class='form-control', placeholder='Enter name of Pokemon...') }}
        <div class="d-grid gap-2 my-3">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>

    {% if pokemon_info %}
        <img src="{{ pokemon_info['image'] }}" alt="{{ pokemon_info['name'].title() }} Image"><br>
        <b>{{ "NAME: " }}</b> {{ pokemon_info['name'].title() }}<br>
        <b>{{ "BASE ATTACK: " }}</b> {{ pokemon_info['base attack'] }}<br>
        <b>{{ "BASE DEFENSE: " }}</b> {{ pokemon_info['base defense'] }}<br>
        <b>{{ "BASE HP: " }}</b> {{ pokemon_info['base hp stat'] }}<br>
        <b>{{ "ABILITY: " }}</b> {{ pokemon_info['ability'].title() }}<br>
    {% endif %}
</div>
{% endblock %}